doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Form
    body 
        container 
            h1 Simpl&#600 form
            img(src="./img/weakdoge.JPG", alt="", srcset="" class="weakdoge")
            

            
            form(action="index.php" method="post") 
                label(for="username") username: 
                input(type="text" id="username" minlength="5" maxlength="10" required)
                input(type="submit")
        script(src="script.js") 
        