doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Form
    body 
        container 
            h1 Simpl&#600 form 
            img(src="./img/weakdoge.png", alt="", srcset="" class="weakdoge")
            h2 text

            form(action="index.php" method="post"  enctype='multipart/form-data') 
                //- id must much with with label (id="username" to for="username")
                label(for="username") username: 
                input(type="text" id="username" minlength="5" maxlength="10" required placeholder="enter your username here")
                br
                label(for="password") password: 
                input(type="password" id="password" minlength="8" maxlength="20" required placeholder="enter your password here") 
                br
                label(for="email") email: 
                input(type="email" id="email" minlength="8" maxlength="20" required placeholder="yourmail@gmail.com") 
                br
                label(for="phone") tel #: 
                input(type="tel" id="phone" minlength="8" maxlength="15" required placeholder="+38xxxxxxxxxx" pattern="^\\+38\\d{10}$")
                //- HTML input element has the specified pattern ^\+38\d{10}$, ensuring that the phone number starts with "+38" and is followed by exactly 10 digits. 
                br
                label(for="pbday") date of birth: 
                input(type="date" id="bday")
                br
                label(for="height") height: 
                input(type="number" id="height" placeholder="in cm" min="0" max="300" pattern="^[0-9]{3}$")
                br
                label(class='sexlabel') Sex:

                    label(for='male' )
                        input(type='radio' id='male' value='male' name='sex' class='rad')
                        | Male
                    label(for='female')
                        input(type='radio' id='female' value='female' name='sex' class='rad')
                        | Female
                    label(for='yes' )
                        input(type='radio' id='yes' value='yes' name='sex' class='rad' )
                        | Yes, please
                br 
                label(for="sport") Your sport: 
                select(id="sport")  
                    option(value="hobbyhorsing") hobbyhorsing &#128014
                    option(value="swimming") swimming &#127946 
                    option(value="running") running &#x1F3C3
                br
                label(for="subscribe") subscribe for news 
                input(type='checkbox' id='subscribe')
                br
                label(for="feedback") leave your feedback:
                textarea#feedback(name="feedback", cols="30", rows="3") 
                br
                label(for="file") file: 
                input(type="file" id='file' accept='image/png, image/ico, image/jpeg')
                br




                br
                input(type="submit")
               
                br
                hr
                input(type="reset")

        script(src="script.js") 
        