body {
    background-color: rgb(255, 213, 158);
    border: 4px solid rgb(109, 66, 9);
    margin: 20px;
}

.container {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;

}

.weakdoge {
    height: 200px;



}

form {
    margin: 0px;
    background: rgb(109, 66, 9);
    color: aliceblue;
    max-width: fit-content;
    padding: 5px 10px 0px 10px;
    font-weight: 900;
}


input {
    margin: 5px 0px 5px 3px;
    max-width: fit-content;
}

hr {
    border: 1.5px solid aliceblue;


}

/* removing default input radio buttons and adding personal radio buttons */
/* removing default input radio buttons and adding personal radio buttons */
/* removing default input radio buttons and adding personal radio buttons */


/* 
input[type="radio"] {

    appearance: none;
   
} */

.rad {
    content: ' ';
    display: inline-block;
    position: relative;
    padding-left: 27px;
    margin-left: 16px;
    margin-bottom: 13px;
    margin-right: 5px;
    cursor: pointer;
    color: rgb(42, 165, 42);
    background-color: rgb(0, 255, 170);



}




/* .rad::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 11px;
    height: 11px;
    border: 2px solid rgb(109, 66, 9);

    border-radius: 50%;
    background-color: #fff;
} */

/* input[type='radio'].rad:checked+.rad::before {
    appearance: auto;
    background-color: rgb(109, 9, 101);
    color: blueviolet;
    cursor: crosshair;

} */



/* .sexlabel {
    border: 1px solid yellowgreen;
} */